<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Movie Info</title>
    </head>
    <body>
        <div id="app">
            <h1>Movie Information</h1>
            <!-- v-if removes an element from the dom entirely if the condition is false. v-show and v-hide only removes an elements visibility using css so if something might cause performance issues due to being destroyed and recreated the whole time, use v-show and v-hide instead -->
            <p v-if="movies.length === 0">No movie information available 😢</p>
            <div
                v-else
                v-for="movie in movies"
            >
                <h2>{{movie.name}}</h2>
                <p v-if="movie.releaseYear === 0">Unknown Release Date</p>
                <p v-else>Released: {{movie.releaseYear}}</p>
                <p v-if="movie.duration === ''">Unknown Duration</p>
                <p v-else>Duration: {{movie.duration}}</p>
                <p v-if="movie.genre.length === 0">Unknown Genre</p>
                <div v-else>
                    <span v-for="(genre, index) in movie.genre"
                        >{{genre}}{{index === movie.genre.length - 1 ? '' :
                        '/'}}</span
                    >
                </div>
                <p v-if="movie.cast.length === 0">
                    No cast information available 😢
                </p>
                <div
                    v-else
                    v-for="member in movie.cast"
                >
                    <p>
                        {{member.actor}} plays the character
                        {{member.character}}.
                    </p>
                    <button @click="addFavoriteCharacter(member.character)">
                        Add to favorite characters
                    </button>
                </div>
            </div>
            <h2>Favorite Characters</h2>
            <p v-if="favoriteCharacters.length === 0">
                No favorite characters added.
            </p>
            <ul v-else>
                <li v-for="character in favoriteCharacters">{{character}}</li>
            </ul>
        </div>

        <!-- vue import -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const { createApp } = Vue

            const app = createApp({
                data() {
                    return {
                        movies: [
                            {
                                name: "Turbo",
                                releaseYear: 2013,
                                duration: "1h 36m",
                                genre: ["Sport", "Adventure"],
                                cast: [
                                    {
                                        actor: "Ryan Reynolds",
                                        character: "Turbo",
                                    },
                                    {
                                        actor: "Paul Giamatti",
                                        character: "Chet",
                                    },
                                    {
                                        actor: "Bill Hader",
                                        character: "Guy Gagné",
                                    },
                                ],
                            },
                            {
                                name: "Cars",
                                releaseYear: 2006,
                                duration: "1h 57m",
                                genre: ["Family", "Comedy"],
                                cast: [
                                    {
                                        actor: "Owen Wilson",
                                        character: "Lightning McQueen",
                                    },
                                    {
                                        actor: "Larry the Cable Guy",
                                        character: "Mater",
                                    },
                                    {
                                        actor: "Bonnie Hunt",
                                        character: "Sally Carrera",
                                    },
                                    {
                                        actor: "Paul Newman",
                                        character: "Doc Hudson",
                                    },
                                ],
                            },
                        ],
                        favoriteCharacters: [],
                    }
                },
                methods: {
                    addFavoriteCharacter(member) {
                        this.favoriteCharacters.push(member)
                        console.log(`${member} added to favorite characters.`)
                    },
                },
            })

            app.mount("#app")
        </script>
    </body>
</html>
