<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Playground — Complete Intro to Vue 3</title>
    </head>
    <body>
        <h1>Hello Frontend Masters!</h1>
        <!-- {{}} is used to embed data into the html -->
        <div id="app">
            <p></p>
            <p>{{count}}</p>
            <input
                type="number"
                name="new-increment"
                id="new-increment"
                v-model="incrementAmount"
            />
            <button v-on:click="increment">Increment with v-model</button>
            <hr />
            <!-- <p>{{count}}</p>
            <input
                type="number"
                name="increment-step"
                id="increment-step"
                v-bind:value="incrementAmount"
                v-on:input="changeIncrementAmount"
            />
            <button v-on:click="increment">Increment with v-bind</button>
            <hr /> -->
            <!-- the v- attributes are referred to as vue directives and they help with reactive updates to the dom -->
            <p v-if="message.length % 2 === 0">Even: {{message}}</p>
            <p v-else>Odd: {{message}}</p>
            <ul>
                <li v-for="number in listOfNumbers">{{number}}</li>
            </ul>
            <!-- keep inline js to a minimum, below is just a showcase that it is able to interpret js between the {{}} -->
            <p v-for="user in users">
                Hi, my name is {{user.name.toUpperCase()}}
                {{user.surname.toUpperCase()}} and I'm {{user.age}} years old.
            </p>
        </div>

        <!-- include vue cdn -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            // destructure function required to create app
            const { createApp } = Vue

            /* createApp is given a configuration object. in this case the options api is showcased from vue 2 rather than composition api from vue 3 */
            const app = createApp({
                // below is reactive data properties
                data() {
                    return {
                        message: "Yes it works!",
                        listOfNumbers: [1, 2, 3, 4, 5],
                        users: [
                            {
                                name: "Theo",
                                surname: "Snyman",
                                age: 21,
                            },
                            {
                                name: "Kaitlyn",
                                surname: "Bezuidenhout",
                                age: 21,
                            },
                            {
                                name: "Christiaan",
                                surname: "Delport",
                                age: 23,
                            },
                        ],
                        count: 0,
                        incrementAmount: 1,
                    }
                },
                // below we are operating on our reactive data properties
                methods: {
                    increment() {
                        this.count += this.incrementAmount
                    },
                    // changeIncrementAmount(event) {
                    //     this.incrementAmount = Number(event.target.value)
                    // },
                },
            })

            // mount defines where the app is put
            app.mount("#app")
        </script>
    </body>
</html>
